[Unit]
Description=ArUco Robot (ROS 2 FSM + XGO)
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple

User=pi
ExecStart=/home/pi/start_aruco_robot.sh

KillSignal=SIGINT
TimeoutStopSec=10

Restart=on-failure
RestartSec=5s

StandardOutput=journal
StandardError=journal
SyslogIdentifier=aruco-robot

[Install]
WantedBy=multi-user.target
